# Packages

In [1]:
import psycopg2
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
import math

pd.options.display.max_columns = None

# SQL Engine Setup

In [2]:
db_string = 'postgresql://postgres:impreza@localhost/projectdb'
db = create_engine(db_string)

con = psycopg2.connect(database="projectdb", user="postgres", password="impreza", host="127.0.0.1", port="5432")
curr = con.cursor()

# Data Querying

In [3]:
# query matches data

matches_query = """
    SELECT m.id as match_id, m.period_id, m.date, 
        m.pla_id, m.plb_id, m.sca as score_a, m.scb as score_b,
        m.rca as race_a, m.rcb as race_b
    FROM MATCH m 
"""

match_df = pd.read_sql_query(matches_query, db)

In [4]:
match_df.head()

,match_id,period_id,date,pla_id,plb_id,score_a,score_b,race_a,race_b
0,204283,168,2016-07-24,422,2102,3,1,Z,P
1,204881,168,2016-07-31,962,12662,1,0,Z,Z
2,204373,168,2016-07-25,61,4551,0,2,Z,Z
3,24883,2,2010-03-13,208,1218,4,2,Z,P
4,205013,168,2016-08-01,1100,10298,2,1,T,Z

In [5]:
# query ratings data
ratings_query = """
    SELECT period_id, player_id, rating,
        (rating + rating_vp) as rating_vp,
        (rating + rating_vt) as rating_vt,
        (rating + rating_vz) as rating_vz,
        position, position_vp, position_vt, position_vz 
    FROM RATING
    WHERE position IS NOT NULL
"""

ratings_df = pd.read_sql_query(ratings_query, db)

In [6]:
ratings_df

,period_id,player_id,rating,rating_vp,rating_vt,rating_vz,position,position_vp,position_vt,position_vz
0,294,22212,-0.099848,-0.095700,-0.106519,-0.097324,803,786,815,794
1,294,22676,-0.005300,-0.005300,-0.005300,-0.005300,473,472,478,481
2,292,22438,-0.012282,-0.012282,-0.012282,-0.012282,502,499,505,503
3,287,2230,-0.602841,-0.620492,-0.640309,-0.547721,893,892,892,889
4,287,966,-0.502880,-0.466949,-0.494007,-0.547686,887,885,888,888
...,...,...,...,...,...,...,...,...,...,...
349885,280,14898,-0.023379,-0.059035,-0.018080,0.006977,717,926,675,490
349886,21,41,0.257591,0.243102,0.200781,0.328889,50,51,76,28
349887,13,1427,-0.022302,-0.022302,-0.022302,-0.022302,382,386,363,375
349888,8,6873,-0.026244,-0.026244,-0.026244,-0.026244,184,187,186,181
349889,8,621,-0.032045,-0.041188,-0.040343,-0.014605,207,231,218,150

In [7]:
player_query = """
    SELECT id, tag, name, birthday
    FROM PLAYER
"""

player_df = pd.read_sql_query(player_query, db)

In [8]:
player_df[player_df['tag'] == 'Maru']

          id   tag  name    birthday
3031   20066  Maru  None        None
14400     49  Maru   조성주  1997-07-28
15149   2087  Maru  None        None

# Data Transformations

In [9]:
def assign_winner(df, sca, scb):
    """
    Inputs:
    sca: score for player A
    scb: score for player B

    Output:
    Binary result for winner:
    1 for player A
    0 for player B
    """
    if df[sca] > df[scb]:
        return 1
    else:
        return 0

In [10]:
def rearrange_columns(df):
    # get a list of any column except the winner (label) col

    # moves winner to end of dataframe
    temp_list = [col for col in df.columns if col != 'winner']

    temp_list.append('winner')

    return df[temp_list]

In [11]:
def calc_age(date1, date2):
    # date 1 is match date
    # date 2 is player birthday
    try:
        birthday  = int((date1 - date2)/ pd.Timedelta(days=365))
        return birthday
    except:
        return None

In [12]:
# assign a winner column

match_df['winner'] = match_df.apply(
    assign_winner,
    axis = 1,
    args = ('score_a', 'score_b')
)

In [13]:
match_df.head()

,match_id,period_id,date,pla_id,plb_id,score_a,score_b,race_a,race_b,winner
0,204283,168,2016-07-24,422,2102,3,1,Z,P,1
1,204881,168,2016-07-31,962,12662,1,0,Z,Z,1
2,204373,168,2016-07-25,61,4551,0,2,Z,Z,0
3,24883,2,2010-03-13,208,1218,4,2,Z,P,1
4,205013,168,2016-08-01,1100,10298,2,1,T,Z,1

In [14]:
ratings_df.head()

,period_id,player_id,rating,rating_vp,rating_vt,rating_vz,position,position_vp,position_vt,position_vz
0,294,22212,-0.099848,-0.095700,-0.106519,-0.097324,803,786,815,794
1,294,22676,-0.005300,-0.005300,-0.005300,-0.005300,473,472,478,481
2,292,22438,-0.012282,-0.012282,-0.012282,-0.012282,502,499,505,503
3,287,2230,-0.602841,-0.620492,-0.640309,-0.547721,893,892,892,889
4,287,966,-0.502880,-0.466949,-0.494007,-0.547686,887,885,888,888

In [15]:
player_df.head()

      id         tag            name birthday
0  15424  Venstarbro            None     None
1  13638     VenturA  Arthur Gardoni     None
2  12576     VeNTuRe                     None
3   1774     Vequeth    Stephen Ison     None
4  17530   verachang            None     None

In [16]:
# Use previous period for rating and position columns
# Subtract 1 from period_id in match_id
match_df['period_id'] = match_df['period_id'] - 1

In [17]:
# merge appropriate ratings to match dataframe

match_df = pd.merge(match_df, ratings_df,
                    left_on = ['period_id', 'pla_id'],
                    right_on = ['period_id', 'player_id'],
                    how = 'left')

match_df = pd.merge(match_df, ratings_df,
                    left_on = ['period_id', 'plb_id'],
                    right_on = ['period_id', 'player_id'],
                    how = 'left', suffixes = ('_a', '_b'))

# drop duplicate player ID columns
drop_cols = ['player_id_a', 'player_id_b']
match_df.drop(columns=drop_cols, inplace=True)

In [18]:
# reassign correct period for match
match_df['period_id'] = match_df['period_id'] + 1

In [19]:
len(match_df)

375870

In [20]:
match_df

,match_id,period_id,date,pla_id,plb_id,score_a,score_b,race_a,race_b,winner,rating_a,rating_vp_a,rating_vt_a,rating_vz_a,position_a,position_vp_a,position_vt_a,position_vz_a,rating_b,rating_vp_b,rating_vt_b,rating_vz_b,position_b,position_vp_b,position_vt_b,position_vz_b
0,204283,168,2016-07-24,422,2102,3,1,Z,P,1,1.170798,1.225940,1.103074,1.183380,25.0,18.0,32.0,28.0,0.855092,0.753314,0.878266,0.933697,83.0,98.0,73.0,72.0
1,204881,168,2016-07-31,962,12662,1,0,Z,Z,1,0.554868,0.536286,0.597472,0.530845,145.0,149.0,127.0,163.0,-0.032130,-0.041760,-0.026041,-0.028589,931.0,1000.0,870.0,896.0
2,204373,168,2016-07-25,61,4551,0,2,Z,Z,0,0.463895,0.486146,0.547406,0.358133,173.0,166.0,138.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24883,2,2010-03-13,208,1218,4,2,Z,P,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.012524,-0.012524,-0.012524,-0.012524,20.0,22.0,20.0,16.0
4,205013,168,2016-08-01,1100,10298,2,1,T,Z,1,0.565362,0.465016,0.535988,0.695081,143.0,176.0,143.0,115.0,-0.223895,-0.292721,-0.199440,-0.179523,1556.0,1609.0,1534.0,1479.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375865,346716,268,2020-05-29,68,20275,2,1,P,T,1,1.360845,1.340540,1.439173,1.302821,42.0,39.0,34.0,50.0,0.111957,0.126566,0.162939,0.046367,401.0,378.0,371.0,492.0
375866,346717,268,2020-05-29,4134,1652,1,2,P,P,0,1.115204,1.172603,1.037986,1.135022,65.0,52.0,72.0,66.0,1.281657,1.307543,1.355412,1.182016,47.0,44.0,45.0,59.0
375867,346718,268,2020-05-29,229,13223,2,1,T,P,1,0.904683,0.949222,0.900570,0.864257,92.0,84.0,91.0,105.0,0.216186,0.314891,0.143341,0.190325,321.0,263.0,383.0,334.0
375868,346720,268,2020-05-29,422,13890,2,0,Z,T,1,1.104191,1.071485,1.032818,1.208270,67.0,68.0,73.0,57.0,0.150636,0.125083,0.179587,0.147237,373.0,381.0,349.0,373.0
375869,346719,268,2020-05-29,2566,20915,2,0,Z,P,1,1.386502,1.331778,1.459487,1.368242,38.0,40.0,32.0,40.0,0.175835,0.179445,0.175835,0.172226,346.0,336.0,356.0,355.0

In [21]:
# remove randoms
match_df = match_df[
    (match_df['race_a'] != 'R') &
    (match_df['race_b'] != 'R')
]

In [22]:
len(match_df)

369444

In [23]:
# one hot encode player races
pla_race = match_df['race_a']
plb_race = match_df['race_b']
pla_race_encoding = pd.get_dummies(pla_race, prefix='race_a')
plb_race_encoding = pd.get_dummies(plb_race, prefix ='race_b')

# append one hot encoded race to dataset
match_df = pd.concat([match_df, pla_race_encoding, plb_race_encoding], axis=1)

In [24]:
len(match_df)

369444

In [25]:
match_df = match_df.sort_values(by='date').reset_index().drop(['index'], axis=1)

In [26]:
match_df.columns

Index(['match_id', 'period_id', 'date', 'pla_id', 'plb_id', 'score_a',
       'score_b', 'race_a', 'race_b', 'winner', 'rating_a', 'rating_vp_a',
       'rating_vt_a', 'rating_vz_a', 'position_a', 'position_vp_a',
       'position_vt_a', 'position_vz_a', 'rating_b', 'rating_vp_b',
       'rating_vt_b', 'rating_vz_b', 'position_b', 'position_vp_b',
       'position_vt_b', 'position_vz_b', 'race_a_P', 'race_a_T', 'race_a_Z',
       'race_b_P', 'race_b_T', 'race_b_Z'],
      dtype='object')

In [27]:
match_df['date'] = pd.to_datetime(match_df['date'])

In [28]:
match_df.dtypes

match_id                  int64
period_id                 int64
date             datetime64[ns]
pla_id                    int64
plb_id                    int64
score_a                   int64
score_b                   int64
race_a                   object
race_b                   object
winner                    int64
rating_a                float64
rating_vp_a             float64
rating_vt_a             float64
rating_vz_a             float64
position_a              float64
position_vp_a           float64
position_vt_a           float64
position_vz_a           float64
rating_b                float64
rating_vp_b             float64
rating_vt_b             float64
rating_vz_b             float64
position_b              float64
position_vp_b           float64
position_vt_b           float64
position_vz_b           float64
race_a_P                  uint8
race_a_T                  uint8
race_a_Z                  uint8
race_b_P                  uint8
race_b_T                  uint8
race_b_Z                  uint8
dtype: object

In [29]:
# filter out rows without ratings before iterating through everything
match_df = match_df[
    (match_df['rating_a'].notnull()) &
    (match_df['rating_b'].notnull())
].reset_index().drop(columns='index', axis=1)

In [30]:
match_df.shape

(295006, 32)

In [31]:
# Create effective ratings column
# Player B
player_b_eff_ratings = dict()
for index, row in match_df.iterrows():
    if row['race_a'] == 'Z':
        player_b_eff_ratings[index] = row['rating_vz_b']
    elif row['race_a'] == 'P':
        player_b_eff_ratings[index] = row['rating_vp_b']
    elif row['race_a'] == 'T':
        player_b_eff_ratings[index] = row['rating_vt_b']

plb_eff_ratings = pd.Series(player_b_eff_ratings, name='plb_eff_ratings')

# Player A
player_a_eff_ratings = dict()
for index, row in match_df.iterrows():
    if row['race_b'] == 'Z':
        player_a_eff_ratings[index] = row['rating_vz_a']
    elif row['race_b'] == 'P':
        player_a_eff_ratings[index] = row['rating_vp_a']
    elif row['race_b'] == 'T':
        player_a_eff_ratings[index] = row['rating_vt_a']

pla_eff_ratings = pd.Series(player_a_eff_ratings, name='pla_eff_ratings')

In [32]:
match_df['player_a_eff_rating'] = pla_eff_ratings
match_df['player_b_eff_rating'] = plb_eff_ratings
match_df['ratings_diff'] = match_df['player_a_eff_rating'] - match_df['player_b_eff_rating']

In [33]:
match_df.shape

(295006, 35)

In [34]:
# Compare overall rankings
player_ranking = list()

for index, row, in match_df.iterrows():
    if row['rating_a'] > row['rating_b']:
        player_ranking.append(1)
    else:
        player_ranking.append(0)

match_df['higher_ranked_a'] = player_ranking

In [35]:
match_df.shape

(295006, 36)

In [36]:
# calculate player age at time of match
pla_ages = list()
plb_ages = list()

for index, row in match_df.iterrows():
    pla_age = calc_age(
        row['date'],
        player_df[player_df['id'] == row['pla_id']]['birthday']
    )

    plb_age = calc_age(
        row['date'],
        player_df[player_df['id'] == row['plb_id']]['birthday']
    )

    #print(pla_age)

    pla_ages.append(pla_age)
    plb_ages.append(plb_age)

match_df['age_a'] = pla_ages
match_df['age_b'] = plb_ages

In [37]:
# Fill empty player ages with 0
match_df['age_a'] = match_df['age_a'].fillna(0)
match_df['age_b'] = match_df['age_b'].fillna(0)

In [38]:
match_df.sample(5)

,match_id,period_id,date,pla_id,plb_id,score_a,score_b,race_a,race_b,winner,rating_a,rating_vp_a,rating_vt_a,rating_vz_a,position_a,position_vp_a,position_vt_a,position_vz_a,rating_b,rating_vp_b,rating_vt_b,rating_vz_b,position_b,position_vp_b,position_vt_b,position_vz_b,race_a_P,race_a_T,race_a_Z,race_b_P,race_b_T,race_b_Z,player_a_eff_rating,player_b_eff_rating,ratings_diff,higher_ranked_a,age_a,age_b
238876,314742,244,2019-06-28,14887,8534,2,0,P,P,1,0.839369,0.786190,0.723695,1.008222,97.0,96.0,123.0,83.0,0.411811,0.309547,0.404241,0.521645,220.0,248.0,216.0,186.0,1,0,0,1,0,0,0.786190,0.309547,0.476643,1,0,0
229232,301035,234,2019-02-04,4564,4723,0,2,Z,Z,0,1.231015,1.180058,1.290643,1.222343,47.0,49.0,41.0,54.0,1.220771,1.245918,1.140710,1.275685,49.0,41.0,60.0,49.0,0,0,1,0,0,1,1.222343,1.275685,-0.053342,1,0,0
98260,142609,120,2014-09-19,182,6932,1,0,Z,T,1,0.060460,0.081909,0.049970,0.049502,389.0,374.0,398.0,409.0,-0.186447,-0.199581,-0.148797,-0.210964,1240.0,1259.0,1183.0,1238.0,0,0,1,0,1,0,0.049970,-0.210964,0.260934,1,0,0
49646,25936,72,2012-11-20,131,258,1,2,T,T,0,0.476439,0.444471,0.553498,0.431347,81.0,94.0,62.0,106.0,0.080928,0.188006,0.052335,0.002442,488.0,292.0,526.0,621.0,0,1,0,0,1,0,0.553498,0.052335,0.501163,1,0,0
143428,185287,158,2016-03-07,44,1,1,0,T,Z,1,1.115140,1.106149,1.046280,1.192990,22.0,26.0,27.0,23.0,1.037253,1.104997,0.982731,1.024031,36.0,27.0,43.0,45.0,0,1,0,0,0,1,1.192990,0.982731,0.210259,1,0,0

In [39]:
match_df.shape

(295006, 38)

In [40]:
match_df['ratings_diff'].isnull().sum()

0

In [41]:
len(match_df)

295006

In [42]:
# Drop rows without ratings and no ranks
match_df.dropna(how='any', inplace=True)

In [43]:
match_df['ratings_diff'].isnull().sum()

0

In [44]:
len(match_df)

295006

In [45]:
# rearrange winner to last column
match_df = rearrange_columns(match_df)

In [46]:
match_df.columns

Index(['match_id', 'period_id', 'date', 'pla_id', 'plb_id', 'score_a',
       'score_b', 'race_a', 'race_b', 'rating_a', 'rating_vp_a', 'rating_vt_a',
       'rating_vz_a', 'position_a', 'position_vp_a', 'position_vt_a',
       'position_vz_a', 'rating_b', 'rating_vp_b', 'rating_vt_b',
       'rating_vz_b', 'position_b', 'position_vp_b', 'position_vt_b',
       'position_vz_b', 'race_a_P', 'race_a_T', 'race_a_Z', 'race_b_P',
       'race_b_T', 'race_b_Z', 'player_a_eff_rating', 'player_b_eff_rating',
       'ratings_diff', 'higher_ranked_a', 'age_a', 'age_b', 'winner'],
      dtype='object')

In [47]:
len(match_df)

295006

In [48]:
list(match_df.columns)

['match_id',
 'period_id',
 'date',
 'pla_id',
 'plb_id',
 'score_a',
 'score_b',
 'race_a',
 'race_b',
 'rating_a',
 'rating_vp_a',
 'rating_vt_a',
 'rating_vz_a',
 'position_a',
 'position_vp_a',
 'position_vt_a',
 'position_vz_a',
 'rating_b',
 'rating_vp_b',
 'rating_vt_b',
 'rating_vz_b',
 'position_b',
 'position_vp_b',
 'position_vt_b',
 'position_vz_b',
 'race_a_P',
 'race_a_T',
 'race_a_Z',
 'race_b_P',
 'race_b_T',
 'race_b_Z',
 'player_a_eff_rating',
 'player_b_eff_rating',
 'ratings_diff',
 'higher_ranked_a',
 'age_a',
 'age_b',
 'winner']

In [49]:
# Split a train and test set
# The last 20% are the most recent matches
# train/test split
# All features - races, all comp ratings, all positions
train_cols = list(match_df.columns[8:-1])
test_idx = round(len(match_df) * 0.8)

train_df = match_df.iloc[:test_idx]
test_df = match_df.iloc[test_idx:]

In [50]:
len(train_df)

236005

In [51]:
len(test_df)

59001

In [52]:
train_df.head()

,match_id,period_id,date,pla_id,plb_id,score_a,score_b,race_a,race_b,rating_a,rating_vp_a,rating_vt_a,rating_vz_a,position_a,position_vp_a,position_vt_a,position_vz_a,rating_b,rating_vp_b,rating_vt_b,rating_vz_b,position_b,position_vp_b,position_vt_b,position_vz_b,race_a_P,race_a_T,race_a_Z,race_b_P,race_b_T,race_b_Z,player_a_eff_rating,player_b_eff_rating,ratings_diff,higher_ranked_a,age_a,age_b,winner
0,24884,2,2010-03-11,262,140,3,0,Z,P,-0.038898,-0.024670,-0.053126,-0.038898,42.0,35.0,45.0,40.0,0.067281,0.087873,0.067281,0.046689,3.0,3.0,3.0,4.0,0,0,1,1,0,0,-0.024670,0.046689,-0.071359,0,0,0,1
1,132029,2,2010-03-13,332,1618,2,0,Z,P,-0.007749,-0.029776,0.010587,-0.004058,15.0,43.0,11.0,13.0,-0.012271,-0.012271,-0.012271,-0.012271,19.0,21.0,19.0,15.0,0,0,1,1,0,0,-0.029776,-0.012271,-0.017506,1,0,0,1
2,132026,2,2010-03-13,332,179,3,1,Z,Z,-0.007749,-0.029776,0.010587,-0.004058,15.0,43.0,11.0,13.0,0.122453,0.098527,0.122453,0.146379,2.0,2.0,1.0,1.0,0,0,1,0,0,1,-0.004058,0.146379,-0.150438,0,0,0,1
3,24878,2,2010-03-14,152,151,2,0,Z,T,0.132478,0.146993,0.118773,0.131667,1.0,1.0,2.0,2.0,0.044461,0.040848,0.053811,0.038724,6.0,7.0,4.0,7.0,0,0,1,0,1,0,0.118773,0.038724,0.080049,1,0,0,1
4,70865,2,2010-03-15,131,152,1,2,T,Z,-0.012524,-0.012524,-0.012524,-0.012524,20.0,22.0,20.0,16.0,0.132478,0.146993,0.118773,0.131667,1.0,1.0,2.0,2.0,0,1,0,0,0,1,-0.012524,0.118773,-0.131296,0,0,0,0

In [53]:
test_df.head()

,match_id,period_id,date,pla_id,plb_id,score_a,score_b,race_a,race_b,rating_a,rating_vp_a,rating_vt_a,rating_vz_a,position_a,position_vp_a,position_vt_a,position_vz_a,rating_b,rating_vp_b,rating_vt_b,rating_vz_b,position_b,position_vp_b,position_vt_b,position_vz_b,race_a_P,race_a_T,race_a_Z,race_b_P,race_b_T,race_b_Z,player_a_eff_rating,player_b_eff_rating,ratings_diff,higher_ranked_a,age_a,age_b,winner
236005,310977,241,2019-05-18,4945,15614,3,0,Z,T,0.262991,0.349203,0.160837,0.278934,270.0,226.0,325.0,275.0,-0.177259,-0.210487,-0.192776,-0.128514,1167.0,1195.0,1189.0,1066.0,0,0,1,0,1,0,0.160837,-0.128514,0.289351,1,0,0,1
236006,310965,241,2019-05-18,15858,18651,3,0,Z,P,-0.080308,-0.116317,-0.055802,-0.068806,990.0,1074.0,920.0,923.0,0.027586,0.032077,0.010410,0.040272,466.0,447.0,527.0,446.0,0,0,1,1,0,0,-0.116317,0.040272,-0.156588,0,0,0,1
236007,310819,241,2019-05-18,4105,58,3,2,T,P,1.302874,1.298721,1.136976,1.472925,41.0,37.0,61.0,28.0,1.253581,1.230606,1.357337,1.172799,49.0,44.0,37.0,63.0,0,1,0,1,0,0,1.298721,1.357337,-0.058616,1,0,0,1
236008,310847,241,2019-05-18,5414,258,3,2,Z,T,1.735881,1.640048,1.739773,1.827823,9.0,13.0,12.0,6.0,1.388157,1.379397,1.388461,1.396613,31.0,28.0,32.0,37.0,0,0,1,0,1,0,1.739773,1.396613,0.343159,1,0,0,1
236009,310854,241,2019-05-18,6183,9787,2,0,T,T,0.473508,0.419490,0.461585,0.539448,191.0,204.0,193.0,182.0,-0.089730,-0.118894,-0.029686,-0.120611,1013.0,1078.0,778.0,1054.0,0,1,0,0,1,0,0.461585,-0.029686,0.491271,1,0,0,1

In [54]:
# Export training and test dataset
train_fname = 'data/train.csv'
test_fname = 'data/test.csv'

train_df.to_csv(train_fname, index=False)
test_df.to_csv(test_fname, index=False)